
<div class="py-5 border-top">
  <div class="container">

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
            </li>
          {%- endif -%}
          <li>
              <a href="https://twitter.com/will2bill" target="_blank">
                <img src="../assets/images/twitter.png" >
              </a>
              <a href="https://will2bill.tumblr.com/" target="_blank">
                <img src="../assets/images/tumblr.png" >
              </a>
              <a href="https://www.instagram.com/will42bill/" target="_blank">
                  <img src="../assets/images/instagram.png" >
              </a>
              <a href="https://www.linkedin.com/in/will2bill/" target="_blank">
                  <img src="../assets/images/linkedin.png" >
              </a>
          </li>
        </ul>
      </div>

      <div class="col-sm text-right">
        <p>
          <a href="https://nicolas-van.github.io/bootstrap-4-github-pages/" target="_blank">Powered by Bootstrap 4 Github Pages</a>
          <a href="https://github.com/will2bill/will2bill.github.io" target="_blank">Website Repository</a>
        </p>
      </div>

    </div>

  </div>
</div>
