<div class="py-5 border-top">
  <div id="footer" class="container">
    <div class="row">

      <!-- Personal Information -->
      <div class="col-lg-4">
        <ul class="list-unstyled">
          <li>
            Personal Information
          </li>
            {%- if site.email -%}
          <li>
            <i class="fas fa-envelope"></i>
            <a href="mailto:{{ site.email }}">
              {{ site.email | escape }}
            </a>
          </li>
            {%- endif -%}
            {%- if site.discord_url -%}
          <li>
            <i class="fab fa-discord"></i>
            <a href="{{ site.discord_url }}">
              Join me on Discord
            </a>
          </li>
            {%- endif -%}
            {%- if site.reddit_url -%}
          <li>
            <i class="fab fa-reddit-alien"></i>
            <a href="{{ site.reddit_url }}">
              Follow me on Reddit
            </a>
          </li>
            {%- endif -%}
            {%- if site.github_url -%}
          <li>
            <i class="fab fa-github"></i>
            <a href="{{ site.github_url }}">
              Follow me on GitHub
            </a>
          </li>
            {%- endif -%}
            {%- if site.gitlab_url -%}
          <li>
            <i class="fab fa-gitlab"></i>
            <a href="{{ site.gitlab_url }}">
              Follow me on GitLab
            </a>
          </li>
            {%- endif -%}
            {%- if site.bitbucket_url -%}
          <li>
            <i class="fab fa-bitbucket"></i>
            <a href="{{ site.bitbucket_url }}">
              Follow me on BitBucket
            </a>
          </li>
            {%- endif -%}
            {%- if site.gpg_key_url -%}
          <li>
            <i class="fas fa-shield-alt"></i>
            <a href="{{ site.gpg_key_url }}">
              Download my GPG Public Key
            </a>
          </li>
            {%- endif -%}
        </ul>
      </div>

      <!-- Payment Information -->
      <div class="col-lg-5">
          <ul class="list-unstyled">
            <li>
              Payment Information
            </li>
              {%- if site.paypal_url -%}
            <li>
              <i class="fab fa-paypal"></i>
              <a href="{{ site.paypal_url }}">
                PayPal
              </a>
            </li>
              {%- endif -%}
              {%- if site.bitcoin_address -%}
            <li>
              <i class="fab fa-bitcoin"></i>
              <a href="bitcoin:{{ site.bitcoin_address }}" class="wordwrap">
                {{ site.bitcoin_address | escape }}
              </a>
            </li>
              {%- endif -%}
          </ul>
        </div>

        <!-- Certification Information -->
        <div id="certification_info" class="col-lg-3">
            <p>
              <i class="fab fa-redhat"></i>{{- site.certification_name | escape -}}
              <br />
              <a href="{{ site.verify_url }}">{{- site.certification_id | escape -}}</a>
              <br />
              <a href="https://nicolas-van.github.io/bootstrap-4-github-pages/">Based on Bootstrap 4 Github Pages</a>
            </p>
          </div>

    </div>
  </div>
</div>
