<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ "/CONTRIBUTING.html" | relative_url }}">Contribution Guide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/LICENSE.html" | relative_url }}">License</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
