<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="192x192"  href="../ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../ico/favicon-16x16.png">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
</head>
