// general styles

.fab, .fas {
  margin-right: 15px;
  display: inline !important;
}

.fab.fa-bitcoin {
  margin-right: 11px;
}

.fab.fa-redhat {
  color: red;
  margin-right: 5px;
}

.wordwrap {
  word-break: break-all;
  -ms-word-break: break-all;
}

.logo {
  border-radius: 50%;
  width: 0.9em;
  position: relative;
  top: -3px;
  margin-right: 15px;
}

@media screen and (min-width: 992px) {
  #footer {
    font-size: 0.85em;
  }

  #certification_info {
    text-align: right !important;
  }
}

// index page styles

header {
  margin-bottom: 30px;
}

h3 {
  margin-top: 60px;
}

.tech-expert {
  background-color: #59c059;
}

.tech-advanced {
  background-color: #549058;
}

.tech-competent {
  background-color: #4289a0;
}

.tech-novice {
  background-color: #585e63;
}

// hire page styles

.input-group {
  margin-bottom: 20px;
}

.input-group-text {
  width: 52px;
}

.fa-form {
  font-size: 1.2em;
}

#gotcha {
  display: none;
}

.btn[data-toggle="dropdown"] {
  color: #595e63;
}

.btn[data-toggle="dropdown"].bs_placeholder {
  color: #7c8389 !important;
}

.dropdown-toggle,
.dropdown-toggle:hover,
.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  border: inherit;
  text-shadow: inherit;
  background-color: white;
}

textarea {
  resize: none;
}

#count_message {
  margin-top: 5px;
  font-weight: bold;
}
