---
layout: default
---
<article>
  <style>
    h3   {color: grey;}
</style>
  <header>
    <h1 id="text">{{ page.title | escape }}</h1>
    <h1 id="name"></h1>
    <h5 id="lat"></h5>
    <h5 id="lon"></h5>

  </header>

  <section>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase.js"></script>

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyDy9vTCr0r8Dfl7lS6Ryg4siFUeK3l2T7o",
        authDomain: "lively-sentry-257818.firebaseapp.com",
        databaseURL: "https://lively-sentry-257818.firebaseio.com",
        projectId: "lively-sentry-257818",
        storageBucket: "lively-sentry-257818.appspot.com",
        messagingSenderId: "377386852893",
        appId: "1:377386852893:web:f24c1dccd8a70e38509cf4",
        measurementId: "G-11HWEX0PQ5"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>
    <script>
      function sleep(milliseconds) {
        var start = new Date().getTime();
        for (var i = 0; i < 1e7; i++) {
          if ((new Date().getTime() - start) > milliseconds){
            break;
          }
        }
      }
      var testing;
      var ref = firebase.database().ref();
      var important_data = new Object()
      var x_coordinate = 42.7313472;
      var y_coordinate = -73.6796534;
      var onValueChange = ref.once("value").then( function(snapshot) {
        important_data = snapshot.val();
        console.log(important_data);
        important_data = important_data.data;
        console.log(important_data);
        document.getElementById("name").innerHTML = "Name: " + important_data.name + "            Age: " + important_data.age;
        document.getElementById("lat").innerHTML = "Lat: " + important_data.lat;
        document.getElementById("lon").innerHTML = "Lon: " + important_data.lon;
        x_coordinate = important_data.lat;
        y_coordinate = important_data.lon;
      });
      testing = "https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJc4cQTKcP3okRPHKk9fl-ETM&destination=" + x_coordinate + "%2C%20" + y_coordinate + "&key=AIzaSyAzFAtJf0Xcx86yFyxaYhPbr5CFJMBQEfI";
      document.write('<body><iframe width="700" height="550" frameborder="0" style="border:0" src=' + testing + ' allowfullscreen></iframe></body>');
      </script>


    {{ content }}
  </section>

</article>
